<div class="defineSeedPhraseTemplate" ng-controller="defineSeedPhraseController">
  <div class="page-header">Define Seed Phrase</div>
  <div class="jumbotron">
    <p>These are the instructions on how to use this page.</p>
  </div>
  <form class="form" ng-submit="createConcept()">
    <div class="form-group">
      <label>Concept Name</label>
      <input type="text" class="form-control" name="conceptname" ng-model="conceptForm.name" required>
    </div>
    <div class="form-group">
      <label>Seed Phrases</label>
      <input type="text" class="form-control" name="seedphrases" ng-model="conceptForm.seedphrases" required>
    </div>

    <div>
      <button type="submit" class="btn btn-default" ng-disabled="disabled">Create Concept</button>
    </div>
  </form>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Concepts</h4>
    </div>
    <div class="panel-body">
      <div ng-repeat="concept in concepts">
        <li class="list-group-item">
          <h5><b>{{ concept.name }}</b></h5><button type="button" class="btn btn-default pull-right">Explore this concept</button><br>
          <div ng-repeat="phrase in concept.seedPhrases">
            {{ phrase }}<br>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
