<div class="greetingTemplate" ng-controller="greetingController">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      Welcome to the Medical Data Warehouse.
    </p>
    <p>
      Here, you are provided with an interactive search engine for learning medical concepts from natural language text. Define a medical concept, and the system will learn that concept, scrape databases for information on the concept, and provide related information so you can expand your mental model of the concept.
    </p>
    <p><a class="btn btn-primary pull-right" ng-controller="greetingController" onclick="goToDSP()" role="button">Begin Defining Seed Phrases</a></p>
    <br><br>
    <p>
      You may also create and query with custom searches made up of ontology concepts, user concepts, patient records, and natural language queries.
    </p>
    <p><a class="btn btn-primary pull-right" ng-controller="greetingController" onclick="goToSPD()" role="button">Create a Search</a></p>
  </div>
</div>
