<div class="defineRelevanciesTemplate" ng-controller="defineRelevanciesController">
  <div class="page-header">Define Relevancies</div>
  <div class="jumbotron">
    <p>These are the instructions on how to use this page.</p>
  </div>

  <h2>Coronary Artery Disease</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Relevancy</th><th>Candidate Result</th><th>Context</th><th>Source</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in candidateResults">
        <td>{{ result.relevancy }}</td><td>{{ result.term }}</td><td>{{ result.context }}</td><td><a class="btn btn-default" href={{result.source}}>{{result.sourceName}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
